<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Carro - Meu Projeto Django</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_car_form.css' %}">
</head>
<body>
    <div class="container">
        <h2>Formulário de Carro</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
        <a href="{% url 'car-list' %}">Cancelar</a>
    </div>
</body>
</html>
